apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: v{{ k8s_version }}
imageRepository: {{ k8s_image_repository }}
{% if k8s_dns_image_repository | default('') | length > 0 %}
dns:
  imageRepository: {{ k8s_dns_image_repository }}
{% endif %}
networking:
  podSubnet: 10.244.0.0/16
controlPlaneEndpoint: {{ central_manager_ip }}
localAPIEndpoint:
  advertiseAddress: {{ central_manager_ip }}
